<!-- create.ejs --> 
<!DOCTYPE html>
<html>
<head>
    <title>Create Music</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Create Music</h1>
    <form method="post" action="/create"> 
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        <br>
        <label for="singer">singer: </label>
        <input type="text" id="singer" name="singer">
        <br>
        <label for="genre">genre: </label>
        <input type="text" id="genre" name="genre">
        <br>
        <label for="release_date">release_date: </label>
        <input type="text" id="release_date" name="release_date">
        <br>
        <input type="submit" value="create">
    </form>
    <a href="/">Back to List</a>
</body>
</html>