<div class="head">
    <input type="search" placeholder="ค้นหาเพลง">
    <% if (Role === 'admin') { %>
        <a href="/info"><button> ข้อมูลส่วนตัว </button></a> 
        <a href="/admin"><button> Admin </button></a> 
        <a href="/logout"><button> Log out </button></a> 
    <% } else if (Role === 'user') { %>
        <a href="/info"><button> ข้อมูลส่วนตัว </button></a> 
        <a href="/logout"><button> Log out </button></a> 
    <% } else { %>
        <div class="dropdown">
            <button class="dropbtn">เมนู</button>
            <div class="dropdown-content">
                <a href="/login">ล็อกอิน</a>
                <a href="/register">สมัคร</a>
            </div>
        </div>
    <% } %>

</div>
<br>