body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #353735;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.listgenre, .listsong {
  margin-top: 20px;
}

h1 {
  color: #333;
}

a {
  text-decoration: none;
}

button:hover {
  background-color: #1c1c1c;
}

/* Style for playlist buttons */
.listgenre button {
  background-color: #7b409a;
}

/* Style for song buttons */
.listsong button {
  background-color: hsl(180, 2%, 18%);
}

/* Align menu to the right */
nav {
  margin-left: auto;
}

/* Add more styles as needed */


/* Positioning dropdown on the left side */
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0; /* Align to the left side */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
input {
  width: 60%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #7b409a; /* Set your desired background color */
  color: #fff; /* Set text color */
  padding: 10px 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 50px;
  height: auto;
}

nav {
  display: flex;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
}


