body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
}

button {
  background-color: #3B3486;
  color: white;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

button:hover {
  background-color: rgb(119, 88, 165);
}

.listgenre {
  margin-top: 20px;
}

.listgenre h1 {
  color: #333;
}

.listgenre button {
  background-color: #3B3486;
}

.listgenre button:hover {
  background-color: #3B3486;
}

/* Positioning dropdown on the left side */
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0; /* Align to the left side */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.listsong {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.listsong h1 {
  color: #333;
  width: 100%;
  text-align: center;
}

.listsong button {
  background-color: #3B3486;
}

.listsong button:hover {
  background-color: #3B3486;
}

.listsong img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin: 10px;
}
